    <h1 class="pageTitle">Login</h1>
    <div id="loginForm">
        <form>
            <div class="login"><label>User ID</label></div>
            <input type="text" class="login" name="uID"><br>
            <div class="login"><label>Name</label></div>
            <input type="text" class="login" name=name><br>
            <div class="flex-container">
                <button class="flexbox" id="signinButton">Sign In</button>
                <button class="flexbox" id="newuserButton">Become a New User</button>
            </div>
        </form>
    </div>