<h1 class="pageTitle">Store page</h1>
<div id="allgames" class="invisibleBorder">
    <div id="gamesTable">
        <div class="flex-container row">
            <div class="flexbox tableborder" id="title"><h3>Name</h3></div>
            <div class="flexbox tableborder" id="genre"><h3>Genre</h3></div>
            <div class="flexbox tableborder" id="rating"><h3>Rating</h3></div>
            <div class="flexbox tableborder" id="remove"><h3>Remove</h3></div>
        </div>
        {{#each games}}
            {{>game}}
        {{/each}}
    /div>
</div>